@model Webdoctruyen.Models.Truyen

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Truyen</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input hidden asp-for="Id" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Tentruyen" class="control-label"></label>
                <input asp-for="Tentruyen" class="form-control" />
                <span asp-validation-for="Tentruyen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Noidung" class="control-label"></label>
                <input asp-for="Noidung" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Anh" class="control-label"></label>
                <input asp-for="Anh" type="file" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="IdTk" class="control-label"></label>
                <input asp-for="IdTk" class="form-control" />
                <span asp-validation-for="IdTk" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Voice" class="control-label"></label>
                <input asp-for="Voice" class="form-control" />
                <span asp-validation-for="Voice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <img asp-for="Anh" src="@Model.Anh" alt="Ảnh truyện" />
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<a href="@Model.Voice" id="link">Example Link</a>
<audio controls>
    <source src="@Model.Voice type="audio/ogg">
    <source src="@Model.Voice" type="audio/mpeg">
</audio>
<span id="result"></span>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        var linkElement = document.getElementById('link');
        var resultElement = document.getElementById('result');

        function checkLinkExists(url) {
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        resultElement.textContent = 'Link tồn tại.';
                    } else {
                        resultElement.textContent = 'Link không tồn tại.';
                    }
                }
            };
            xhr.open('HEAD', url);
            xhr.send();
        }

        linkElement.addEventListener('click', function (event) {
            event.preventDefault();
            var url = this.getAttribute('href');
            checkLinkExists(url);
        });
    </script>

}
